<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="googlebot" content="noindex,nofollow">
    <meta name="robots" content="noindex,nofollow">
    <link rel="icon" type="image/x-icon" href="./files/favicon.ico">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Taviraj:Regular,400,600%7CAllura:400&display=swap">
    <link rel="stylesheet" href="./files/min.css">
</head>

<body>
    <div class="main">
        <picture class="leaf">
            <source
                media="(min-resolution: 192dpi) and (min-width: 1280px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1280px)"
                srcset="files/2560.png">
            <source
                media="(min-resolution: 192dpi) and (min-width: 1024px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px)"
                srcset="files/2048.png">
            <source
                media="(min-resolution: 192dpi) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px)"
                srcset="files/1536.png">
            <source media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" srcset="files/1200.png">
            <source
                media="(min-resolution: 144dpi) and (min-width: 1280px), (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1280px)"
                srcset="files/1920.png">
            <source
                media="(min-resolution: 144dpi) and (min-width: 1024px), (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px)"
                srcset="files/1536.png">
            <source
                media="(min-resolution: 144dpi) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 768px)"
                srcset="files/1152.png">
            <source media="(min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5)" srcset="files/900.png">
            <source media="(min-width: 1280px)" srcset="files/1280.png">
            <source media="(min-width: 1024px)" srcset="files/1024.png">
            <source media="(min-width: 768px)" srcset="files/768.png">
            <source srcset="files/600.png">
            <img alt="" data-src="files/768.png" src="files/768.png" class="default-image" />
        </picture>
        <header class="header-intro">
            <h1 class="header-title">{{title}}</h1>
            <div class="header-subtitle">{{weddingDate}}</div>
            <div class="header-subtitle">{{weddingLocation}}</div>
        </header>
        <div class="bar-fixed">
            <h2 class="bar-title">{{titleShort}}</h2>
        </div>
        <nav class="bar-language">
            <div class="bar-language-container">
                <ul class="bar-list">
                    <li class="bar-elem">
                        <a rel="nofollow" class="bar-elem-link" href="/"><span
                                class="link{{link-es}}">Castellano</span></a>
                    </li>
                    <li class="bar-elem">
                        <a rel="nofollow" class="bar-elem-link" href="/nl"><span
                                class="link{{link-nl}}">Nederlands</span></a>
                    </li>
                    <li class="bar-elem">
                        <a rel="nofollow" class="bar-elem-link" href="/en"><span
                                class="link{{link-en}}">English</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="content">
            {{> (lookup . 'introSrc') }}

            <h3>{{attendance}}</h3>

            <div class="content-paragraph">{{attendanceIntro}}</div>

            <div class="form-container">
                <div id="success-message">{{attendanceSuccessPre}}"<span
                        id="success-name"></span>"{{attendanceSuccessPost}}
                    <br />{{attendanceSuccessSecondLine}}</div>
                <div id="error-message">{{attendanceError}}</div>
                <form>
                    <div class="input-area">
                        <label>{{name}}</label>

                        <div class="input-container">
                            <input type="text" name="name" required />
                        </div>
                    </div>

                    <div class="input-area">
                        <label>{{attendance}}</label>
                        <div class="input-container radio-container">
                            <div class="input-radio-block">
                                <input type="radio" id="yes" name="confirmation" value="Yes" checked>
                                <label for="yes">{{attendanceYes}}</label>
                            </div>

                            <div class="input-radio-block">
                                <input type="radio" id="no" name="confirmation" value="No">
                                <label for="yes">{{attendanceNo}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="input-area">
                        <label>{{comment}}<br />({{optional}})</label>
                        <div class="input-container">
                            <textarea name="comment"></textarea>
                        </div>
                    </div>

                    <div class="submit-area">
                        <button type="submit" id="submit-form">{{submit}}</button>
                    </div>
                </form>
            </div>

            <p>{{attendanceOutro}}</p>

            <h3>{{presents}}</h3>
            <p>{{presentsText}}</p>
            <h3>{{directions}}</h3>
            <p>{{directionsText}}<br/><a target="_blank" href="https://goo.gl/maps/xLUaNV18nXVEsomX6">{{address}}</a>.</p>
        </div>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-title">{{titleShort}}</div>
            <div class="footer-subtitle">{{weddingDateShort}}</div>
        </div>
    </footer>
    <script src="files/script.js"></script>
</body>

</html>